<h1>This is user profile</h1>

<!-- Interpolation Example -->
<!-- Injecting typescript code variables into Template using interpolation -->
<h4>Name-{{name}} Status-{{status}} Salary-{{salary}}</h4>

<!-- ONE WAY DATA BINDING -->
<!-- OR Property Binding Example -->
<!-- <button disabled="true">Click Me</button>
kisi bhi tag ki property to apne template variable se jodne ka tarika -->
<button [disabled]="isBtnDisables">Click Me</button>

<!-- Event Binding -->
<!-- HTML me hmare pass sare events on... karke start karte ha for ex: -->
<input type="text" onchange="">

<!-- But angular me event attach ke liye on... hata ke likho -->
<!-- aur us event ko round brackets me daal do -->
<!-- <input type="text" (change)="onChangeFn()"> -->

<input type="text" (input)="onChangeFn($event)">

<!-- ONE way data binding example -->
    <!-- ONE way DATA binding -->
    <input type="text" [value]="inputValue">

<!-- TWO way data binding example -->
    <h1>input value - {{twoWayDataBindingValue}}</h1>
    <!-- TWO way DATA binding -->
    <input type="text" [value]="twoWayDataBindingValue" (input)="onChangeTwoWayFn($event)">

 <!-- Lekin ab TWO way data binding ka code bahut chhota ho gya hai    -->
 <!-- Syntax name : banana in the box
 isme koi function call bhi nahi karna pada, bas type script file me FormsModule ye import karna pada bas -->
 <h1>2 way Data Binding with ngModel Value : {{demoTwoWayDB}}</h1>
 <input type="text" [(ngModel)]="demoTwoWayDB">


  <h2>-------------------Looping Example Using Angular17(for Syntax)--------------------------</h2>
  <div>  
  @for (u of users;track u.name){
        <h4>Name:{{u.name}} Status:{{u.isSingle?"True":"False"}} Salary:{{u.salary}}</h4>
    } 
 </div>


 <h2>-------------------If Else Example Using Angular17(for if else Syntax)--------------------------</h2>
 <div>  
    <!-- Ye for loop, ya if else annotations kisi element pe nahi laga hai -->
    <!-- Aur is code ke liye koi dependency add nahi karni padi -->
 @for (u of users;track u.name){
    @if(u.salary>10000){
        <h4>Name:{{u.name}} Status:{{u.isSingle?"True":"False"}} Salary:{{u.salary}}</h4>
    }
    @else{
        <h4>Name:{{u.name}} Status:{{u.isSingle?"True":"False"}} Salary:hidden</h4>
    }
   } 
</div>


 <h2>-------------------For If Else Example Using Older Angular (using Directives)--------------------------</h2>
 <!-- Jo Directives hota hai wo kisi elements pe lagana padta hai, unlike angular 17 -->
 <!-- But yha pe CommonModule naam ki ek dependency bhi add karni padti hai  -->
 <!-- Directive : Directive hum kisi elements pe lagate hain uska behaviour change karne ke liye,
     ye hmari bani banayi(inbuilt) classes hoti hain. lekin hum apna khud ka bhi directives bana sakte hain-->
 <!-- Types : 2 types -->
 <!-- 1. Structured Directive : ye sare * se shuru hote hain, ngFor ngIf ye sab structured directives hain
     kyu ki ye hmare html ka structure change karte hai, ng-template hamesha structured 
     directives ke sath use hota hai
 2. Attribute directive : [(ngModel)] Attribute directive hai {used in 2 way binding}, kyu ki ye hmare
  html tag ka attribute change karta hai -->
 <div *ngFor="let u of users">  
    <h4 *ngIf="u.salary > 10000;else myelseWalaBlockName">Name:{{u.name}} Status:{{u.isSingle?"True":"False"}} Salary:{{u.salary}}</h4> 
    <ng-template #myelseWalaBlockName>
        <h4>Name:{{u.name}} Status:{{u.isSingle?"True":"False"}} Salary:hidden</h4> 
    </ng-template>
</div>